body {
    background-color: black;
}

.button-nav {
    left: 0;
}

.navbar-brand img {
    width: 10rem;
}

.navbar-toggler-icon img {
    width: 2rem;
}


.banner {
    background-image: url('../images/bg-banner.png');
    height: 60vw;
    background-size: cover;
    background-repeat: no-repeat;
}


.banner-drinks {
    background-image: url('../images/bg-drink.png');
    height: 60vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.line {
    background-color: white;
    width: 20rem;
    height: 2px;
}

h4 {
    color: #EF5906;
    font-size: 3rem;
}

.maps h5 {
    color: #EF5906;
}

.maps a {
    text-decoration: none;
    color: white;
}

.createdBy {
    color: #EF5906;
}

.button-reserve {
    background-color: #EF5906;
    font-weight: 700;
    width: 100%;
    max-width: 200px;
}

.form-group input{
    background-color: transparent;
    border: 1px solid #606060;
    color: #fff;
}

.form-group input:focus {
    background-color: transparent;
    color: white;
}

.form-group input::placeholder {
    color: #fff; 
}

@media screen and (max-width: 991px) {
    .navbar-toggler-icon {
        position: absolute;
        right: 0;
    }

    .line {
        display: none;
    }
}